name: {{name}}
version: "0.1"

base: ubuntu@24.04
platforms:
  platform-independent:
    build-on: [amd64, arm64, ppc64el, s390x, riscv64]
    build-for: [all]

parts:
  to-default:
    plugin: nil
  to-mushroom:
    plugin: nil
    override-build: |
      date > "${CRAFT_PART_INSTALL}/date.txt"
    organize:
      "*": (mushroom)/
